* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
/* user-select: none; */
body {
  background-color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
/* 背景模糊渐变遮罩 */
.project-gradient {
  mask-image: linear-gradient(
    to top,
    transparent,
    rgba(0, 0, 0, 0.013) 8.1%,
    rgba(0, 0, 0, 0.049) 15.5%,
    rgba(0, 0, 0, 0.104) 22.5%,
    rgba(0, 0, 0, 0.175) 29%,
    rgba(0, 0, 0, 0.259) 35.3%,
    rgba(0, 0, 0, 0.352) 41.2%,
    rgba(0, 0, 0, 0.45) 47.1%,
    rgba(0, 0, 0, 0.55) 52.9%,
    rgba(0, 0, 0, 0.648) 58.8%,
    rgba(0, 0, 0, 0.741) 64.7%,
    rgba(0, 0, 0, 0.825) 71%,
    rgba(0, 0, 0, 0.896) 77.5%,
    rgba(0, 0, 0, 0.951) 84.5%,
    rgba(0, 0, 0, 0.987) 91.9%,
    black
  );
}
